/*--------------------------------------------------------------
# Basic Menu Layout
--------------------------------------------------------------*/
ul.menu,
.menu > ul {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;

	& > li {
		position: relative;
	}

	& > li a {
		color: inherit;
		cursor: pointer;
		display: block;
	}

	& .sub-menu, & .children {
		display: none;
		list-style: none;
		margin: 0;
		overflow: hidden;
		padding: 0;
		white-space: nowrap;
		width: auto;
	}

	& li.active > .sub-menu,
	& li.active > .children {
		display: block;
	}

	& .current-menu-item > .sub-menu {
		display: block;
	}

	@nest .horizontal-menu & {
		align-items: center;
		display: flex;
		height: 100%;

		& > li {
			align-items: center;
			display: flex;
		}

		& > li > .sub-menu {
			display: block;
			left: 50%;
			opacity: 0;
			position: absolute;
			top: 100%;
			transform: translate(-50%, 0);
			visibility: hidden;
			z-index: 10;
		}

		& > li.active > .sub-menu {
			opacity: 1;
			transform: translate3d(-50%, -5px, 0) rotateX(0);
			visibility: visible;
		}
	}

}

/*--------------------------------------------------------------
# No JS default layout  for horizontal menus on small screens
# Vertical menus will open with focus-within
--------------------------------------------------------------*/
.no-js .horizontal-menu ul.menu,
.no-js .horizontal-menu .menu > ul {

	& > li:hover,
	& > li:focus-within {
		@media (hover: hover), (-ms-high-contrast: none) {
			& > .sub-menu {
				opacity: 1;
				transform: translate3d(-50%, -5px, 0) rotateX(0);
				visibility: visible;

				& li:hover .sub-menu,
				& li:focus-within .sub-menu {
					display: block;
				}
			}
		}
	}

	@media (max-width: 768px) {
		display: block;

		& li {
			display: block;
		}

		& .sub-menu {
			display: none;
			left: 0;
			opacity: 1;
			position: relative;
			transform: translate(0, 0);
			visibility: visible;
		}

		& li:focus-within .sub-menu {
			display: block;
		}
	}
}



