---
layout: layout
title: Component Library Playground - Navigation
---

<nav class="site-navigation" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">

	<a href="#primary-nav" aria-controls="primary-nav" class="site-menu-toggle">
		<span class="screen-reader-text">Primary Menu</span>
		<span aria-hidden="true">☰</span>
	</a>

	<ul id="primary-nav" class="primary-menu">
		<li id="menu-item-1912" class="menu-item">
			<a href="#!aboutus">About Us</a>
		</li>
		<li id="menu-item-1913" class="menu-item menu-item-has-children">
			<a href="#!ourwork">Our Work</a>
			<ul class="sub-menu">
				<li id="menu-item-1914" class="menu-item">
					<a href="#!js">JavaScript</a>
				</li>
				<li id="menu-item-4494" class="menu-item menu-item-has-children">
					<a href="#!wp">WordPress</a>
					<ul class="sub-menu">
						<li id="menu-item-4495" class="menu-item">
							<a href="#!plugins">Plugins</a>
						</li>
						<li id="menu-item-4496" class="menu-item">
							<a href="#!themes">Themes</a>
						</li>
						<li id="menu-item-4496" class="menu-item">
							<a href="#!last">Last WP Item</a>
						</li>
					</ul>
				</li>
			</ul>
		</li>
		<li id="menu-item-1915" class="menu-item">
			<a href="#!giving">Giving Back</a>
		</li>
		<li id="menu-item-1916" class="menu-item menu-item-has-children">
			<a href="#!blog">Blog</a>
			<ul class="sub-menu">
				<li class="menu-item"><a href="#!post">Blog Post 1</a></li>
				<li class="menu-item"><a href="#!post">Blog Post 2</a></li>
				<li class="menu-item"><a href="#!post">Blog Post 3</a></li>
			</ul>
		</li>
		<li id="menu-item-1916" class="menu-item">
			<a href="#!contact">Contact</a>
		</li>
	</ul>

</nav>
