@keyframes shakeHorizontalLarge {

	from,
	to {
		transform: translate3d(0, 0, 0);
	}

	15%,
	45%,
	75% {
		transform: translate3d(-15px, 0, 0);
	}

	30%,
	60%,
	90% {
		transform: translate3d(15px, 0, 0);
	}
}

.shake-horizontal-large {
	animation-name: shakeHorizontalLarge;
}
